<h1 mat-dialog-title>Add Vehicle</h1>
<div mat-dialog-content>
  <div [formGroup]="rForm">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Unit" formControlName="UnitNumber">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Year" formControlName="Year">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Make" formControlName="Make">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Model" formControlName="Model">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Color" formControlName="Color">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Plate Number" formControlName="PlateNumber">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Plate State" formControlName="PlateState">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Sticker Number" formControlName="StickerNumber">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" formControlName="FirstName">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="LastName">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Address" formControlName="HomeAddress">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="State" formControlName="State">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="City" formControlName="City">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Zip" formControlName="ZIPCode">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mobile Phone" formControlName="MobilePhone">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Home Phone" formControlName="HomePhone">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Work Phone" formControlName="WorkPhone">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="Email">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Other Email" formControlName="OtherEmail">
      </mat-form-field>
    </div>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</div>
