
<div *ngIf="afAuth.user$ | async; then authenticated else showLogin">

  </div>
  <ng-template #authenticated>
    <div class="login">
      <div *ngIf="afAuth.user$ | async as user">
          <h1>Welcome back {{ user.displayName }}!</h1>
          <button type="submit" (click)="afAuth.logout()" class="btn btn-default">Logout</button>
      </div>
    </div>
  </ng-template>
  <ng-template #showLogin>
<div class="login">
  <p>Please login.</p>
  <form [formGroup]="rForm">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>
    <button type="submit" (click)="afAuth.emailLogin(rForm.value)" class="btn btn-default">Login</button>

  </form>
</div>
</ng-template>
